body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Une police plus moderne */
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  width: 100%;
  max-width: 400px; /* Limite la largeur pour les grands écrans */
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  margin-top: 0;
  text-align: center;
  color: #333; /* Une couleur de texte plus douce */
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-container button {
  width: 100%;
  padding: 15px;
  background-color: #0056b3; /* Une teinte de bleu plus professionnelle */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; /* Augmente la taille du texte pour une meilleure lisibilité */
}

.login-container button:hover {
  background-color: #004494; /* Une teinte plus foncée au survol */
}
.error-message {
  background-color: #ffdddd;
  color: #d8000c;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #d8000c;
  text-align: center;
}
